<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #007bff;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" (click)="onMenuButtonClick()" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Botão home na navbar -->
    <!-- <a class="navbar-brand" routerLink="/dashboard">Meu App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
     <!-- div nome de usuário e botão de logout-->
    <div class="d-flex align-items-center">
      <span class="navbar-text text-white me-3">
        Bem-vindo, **{{ userName }}**!
      </span>
      <button class="btn btn-light" (click)="logout()">Sair</button>
    </div>
    <!-- <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
      <span class="navbar-text text-white me-3">
        Bem-vindo, **{{ userName }}**!
      </span>
      <button class="btn btn-light" (click)="logout()">Sair</button>
    </div> -->
  </div>
</nav>
