<div class="sidenav-container" [class.sidenav-open]="isOpen">

  <div class="sidenav-backdrop" (click)="onClose()" *ngIf="isOpen"></div>

  <aside class="sidenav">
    <div class="sidenav-header">
      <h3 style="margin-left: 80px;">Menu</h3>
      <button type="button" class="closebtn" aria-label="Close" (click)="onClose()">
        &times; </button>
    </div>

    <nav class="sidenav-nav">
      <a href="/dashboard" routerLinkActive="active-link" (click)="onLinkClick()">Dashboard</a>
      <div class="sidenav-item submenu-trigger" (click)="toggleSidenavSubmenu()" [class.open]="isSidenavSubmenuOpen">
        <span>Etiquetas</span>
        <span class="submenu-arrow">{{ isSidenavSubmenuOpen ? '-' : '+' }}</span>
      </div>
      <div class="submenu-content" *ngIf="isSidenavSubmenuOpen">
        <a href="/etiquetas/zebra" routerLinkActive="active-link" (click)="onLinkClick()">Zebra</a>
      </div>
      <span style="margin-left: 20px;" *ngIf="userAccessLevel === 1">Menu administrativo</span>
        <a *ngIf="userAccessLevel === 1" href="/painel-administrativo" routerLinkActive="active-link" (click)="onLinkClick()">Cadastro de usuários</a>
        <a *ngIf="userAccessLevel === 1" href="/upload" routerLinkActive="active-link" (click)="onLinkClick()">Cadastro de etiquetas</a>
      </nav>
  </aside>
</div>
